

<%- include("partials/header") -%>






<h1>Home</h1>


<p> <%= hsc %></p>


   
        <% posts.forEach(function(post) { %>
            <h1><%= post.postTitle %></h1>
            <p><%= (post.composeArea).slice(0,140) + " ..." %><a href="/posts/<%= post.postTitle %>">Read More</a></p>
        <% }); %>
    
     
    
    






